*, *:before, *:after {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-base);
  }
  
  html {
      scroll-behavior: smooth;
  }
  
  :root {
      --color-primary: #FE4C02;
      --orange-light: #FE6A2C;
      --color-black: #1A1A1A;
      --color-white: #ffffff;
      --color-offwhite: #EBEAEA;
      --color-grey-dark: #808080;
      --color-grey-black: #404040;
      --text-color: #F9F9F9;
      --color-backgrond_black: #252525;
      --color-background: #FCFCFC;
      --border-greyline: #D9D9D9;
      --changemode_color: #F9F9FA;
      --grey-light: #D4D4D4;
      --color-error: #FF1D1D;
  
      --font-family-base: "Poppins", Helvetica, Arial, sans-serif;
  
      --font-size-small: 14px;
      --font-size-medium: 16px;
      --font-size-large: 24px;
      --font-size-x-large: 32px;
      --font-size-xx-large: 56px;
  
      --font-weight-regular: 400;
      --font-weight-semibold: 600;
      --font-weight-bold: 700;
  }

  .indexBody {
    background-color: var(--color-white);
  }
  
  /* index nav */
  .indexnav {
    background-color: var(--color-white);
    border-bottom: 1px solid var(--border-greyline);
  }

  .indexnav_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1px 50px;
  }

  .indexnav_contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .nav_link {
    color: var(--color-black);
    font-size: 18px;
    position: relative;
  }

  .nav_link:hover {
    color: var(--color-primary);
    opacity: 0.8;
  }

  .nav_links {
    font-size: 16px;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-black);
  }
  
  .indexnav_contents ul .active::after {
    content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 4px;
  border-radius: 8px;
  background-color: var(--color-primary);
  opacity: 1;
  transition: opacity 0.3s ease;
  }

  .indexnav_contents ul .active {
    color: var(--color-primary);
  }

  .indexnav_btns {
    display: flex;
    flex-direction: row;
    gap: 28px;
  }

  .indexnav_btn1 {
    color: var(--color-black);
    font-weight: 500;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  .indexnav_btn2 {
    border: none;
    background-color: var(--changemode_color);
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-white);
    min-width: 250px;
    padding: 24px;
    z-index: 1;
    border-bottom: 3px solid var(--color-primary);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.24);
  }
  
  .dropdown-content a {
    color: var(--color-black);
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    display: block;
  }

  .dropdown-content a:hover {
    color: var(--color-primary);
    opacity: 0.8;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .dark-mode {
    --color-black: #FFFFFF;
    --color-white: #1A1A1A;
    --border-greyline: #f5f5f5;
    --changemode_color: #efeff7;
  }

  .hero-section {
    max-height: 1298px;
    background: url("../images/image\ 4.svg") right 5% no-repeat, url("../images/image\ 5.svg") 0% -25% no-repeat, url("../images/image\ 3.svg") left bottom no-repeat;
  }

  .hero-section_section {
    max-width: 800px;
   margin: 50px auto;
   display: flex;
   flex-direction: column;
   gap: 20px;
  }

  .hero-section_section h1 {
    color: var(--color-black);
    font-weight: var(--font-weight-bold);
    font-size: 3em;
    text-align: center;
    
  }

  .hero-section_section h1 span {
    color: var(--color-primary);
  }

  .hero-section_section p {
    text-align: center;
    color: var(--color-grey-dark);
    font-weight: 500;
    font-size: 16px;
  }

  .hero-section_section a {
    background-color: var(--color-primary);
    padding: 16px 24px;
    border-radius: 16px;
    text-align: center;
    font-weight: 500px;
    color: var(--color-white);
    max-width: 188px;
    align-self: center;
    margin-top: 5%;
  }

  .hero-section_section a:hover {
    opacity: 0.8;
  }

  .hero-section_img {
    margin-top: 70px;
  }

  .why_winforce{
    display: flex;
    flex-direction: column;
    gap: 80px;
    background: url('../images/Ellipse\ 2841.svg') left 100% no-repeat;
    padding-bottom: 250px;
  }

  .why_winforce_header {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
  }

  .why_winforce_header h2 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-x-large);
    color: var(--color-black);
    text-align: center;
  }

  .why_winforce_header p {
    color: var(--color-grey-dark);
    text-align: center;
    font-size: var(--font-size-large);
    font-weight: 500;
  }

  .why_winforce_contents {
    display: flex;
    flex-direction: row;
    gap: 4%;
    margin: 0px 5%;
  }

  .why {
    width: 46%;
    height: auto;
  }

  .why_winforce_flexContainer {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .why_winforce_flexContainer article {
    display: flex;
    flex-direction: row;
    gap: 20px;
    min-width: 46%;
    align-items: flex-start;
    padding: 24px;
    border-radius: 10px;
    background-color: var(--color-white);
  }

  .why_winforce_flexContainer article:hover {
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.16);
  }

  .why_winforce_flexContainer h6 {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
  }

  .why_winforce_flexContainer p {
    color: var(--color-grey-dark);
    font-size: var(--font-size-medium);
    font-weight: 500;
  }

  .getStarted {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    background: url('../images/image\ \(4\).svg') right -70% no-repeat;
  }

  .getStarted_header p {
    max-width: 70%;
    align-self: center;
  }

  .why_winforce_flexContainer p span {
    color: var(--color-primary);
  }

  .why_ellipse {
    width: 100%;
    height: auto;
  }

  .read_reviews {
    background: url('../images/image\ \(4\).svg') right 100% no-repeat;
  }

  .read_reviewsDiv {
    max-width: 1000px;
   margin: 50px auto;
   display: flex;
   flex-direction: column;
   gap: 20px;
    margin-top: 100px;
  }

  .ellipse-background {
    position: absolute;
    top: -95px;
    left: 45%;
    transform: translateX(-50%);
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: var(--color-white);
    border-radius: 50%;
  }

  .carousel .slick-prev,
	.carousel .slick-dots,
.carousel .slick-next {
  display: none !important;
}

.carousel {
  width: 1000px;
  margin: 0 auto;
}

.grabbable {
  cursor: move; 
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

  .card {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }

  .card h5 {
    color: var(--color-black);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
  }

  .card p {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-grey-dark);
    margin: 20px 0px 40px;
  }
  
  .carousel-bullets {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  
  .carousel-bullets .bullet, .slick-dots {
    display: flex;
    flex-direction: row;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 19px;
    background-color: var(--grey-light);
  }
  
  .carousel-bullets .bullet.active {
    background-color: var(--color-primary);
  }
  

  .read_reviews button {
    background-color: var(--color-primary);
    border-radius: 15px;
    opacity: 0.800000011920929;
    padding: 8px 30px;
    align-items: center;
    border: none;
    color: var(--color-white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-weight: var(--font-weight-bold);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-top: 120px;
    justify-content: center;
    max-width: 234px;
    align-self: center;
  }

  .read_reviewsDiv {
    display: flex;
    flex-direction: column;
  }

  .read_reviews button span {
    font-size: 24px;
  }

  .Start_journey {
    background: url('../images/Ellipse\ 2841 (1).svg') left -10% no-repeat;
  }

  .Start_journey section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 60px 100px;
    padding-top: 130px;
    gap: 40px;
    max-width: 1483px;
  }

  .Start_journey_content {
    max-width: 667px;
    align-self: center;
    justify-self: center;
  }

  .Start_journey_content a {
    background-color: var(--color-primary);
    border-radius: 16px;
    padding: 10px 20px;
    color: var(--color-white);
    font-size: 18px;
    border: none;
  }

  .Start_journey_content a:hover {
    opacity: 0.8;
  }

  .Start_journey h5 {
    font-size: 32px;
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
  }

  .Start_journey p {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-grey-dark);
    margin: 10px 0px 40px;
  }

  .Start_journey_media {
    display: flex;
    flex-direction: row-reverse;
    max-width: 600px;
  }

  .Start_journey_media img {
    max-width: 230px;
  }

  .footer_copyright {
    color: var(--color-primary);
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
  }

  .footer {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    padding: 60px;
    margin-top: 10px;
  }

  .footer_logo {
    padding: 3% 1%;
    background-color: var(--color-white);
    border-radius: 50%;
  }

  .footer section {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .footer_nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 150px;
  }

  .footer h6 {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
    padding-bottom: 10px;
    white-space: nowrap;
  }

  .footer_nav a {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-offwhite);
  }

  .footer_socials, .footer_download {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .footerdownload_btn {
    padding: 9px 15px;
    background-color: var(--color-backgrond_black);
    border-radius: 7px;
    box-shadow: 0px 4px 24px 0px rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: var(--text-color);
  }

  .footerdownload_btn p {
    font-size: 17px;
    font-weight: var(--font-weight-semibold);
  }

  .footerdownload_btn span {
    font-size: 21px;
    font-weight: var(--font-weight-semibold);
  }

  .footer_socials a {
    text-align: center;
  }


  /* END OF INDEX PAGE */
  /* START OF ABOUT PAGE */
  .abouthero-section {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 50px auto 150px;
    max-width: 1000px;
    align-items: center;
    margin-left: -100px;
  }

  .abouthero-section img {
    width: 520px;
    height: 693px;
  }

  .abouthero-section div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 796px;
  }

  .abouthero-section h1 {
    text-align: left;
  }

  .abouthero-section p {
    text-align: left;
    margin-bottom: 20px;
  }

  .howToEarn {
    background: url('../images/image\ 4.svg') no-repeat right bottom;
  }

	.howToEarn section {
    margin: -80px auto 80px;
    max-width: 1150px;
  }

  .howToEarn h2 {
    font-size: 40px;
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
  }

  .howToEarn_p {
    font-size: var(--font-size-large);
    font-weight: 500;
    color: var(--color-grey-dark);
  }

  .aboutcard_container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    margin-top: 50px;
    border-radius: 8px;
  }

  .about_card {
    padding: 20px;
    background-color: var(--color-white);
  }

  .about_card:hover {
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.16);
  }

  .about_card h6 {
    color: var(--color-black);
    font-size: 20px;
    font-weight: var(--font-weight-bold);
  }

  .about_card p {
    color: var(--color-grey-dark);
    font-weight: 500;
  }

  .about_card span {
    color: var(--color-primary);
  }

  .about_final_section section {
    margin: 0px auto 50px;
    max-width: 1100px;
  }

  .about_final_section h3 {
    font-size: 40px;
    color: var(--color-black);
    font-weight: var(--font-weight-bold);
    margin-bottom: 20px;
  }

  .about_final_section p {
    font-size: 20px;
    color: var(--color-grey-dark);
    font-weight: 500;
    margin-bottom: 50px;
  }

  .aboutdiv_card {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5%;
  }

  /* END OF ABOUT PAGE */
  /* START OF MARKET PAGE */

  .market_header {
    max-width: 700px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .market_header h1 {
    color: var(--color-black);
    font-weight: var(--font-weight-bold);
    font-size: 3em;
    text-align: center;
    
  }

  .market_header h1 span {
    color: var(--color-primary);
  }

  .marketHeader_search {
    display: flex;
    flex-direction: row;
  }

  .marketHeader_search button {
    cursor: pointer;
    background-color: var(--color-primary);
    border-radius: 0px 8px 8px 0px;
    padding: 12px 16px;
    color: var(--color-white);
    border: none;
  }

  .marketHeader_search button:hover {
    opacity: 0.8;
  }

  .search-container {
    position: relative;
    grid-area: searchArea;
  }
  
  .search-input {
    padding: 11px 30px;
    border-radius: 6px;
    border: 1px solid rgba(229, 229, 229, 0.50);
    width: 450px;
    border-right: none;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url("../images/search.svg");
    background-size: cover;
  }

  .MarketSearch_suggestions {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 20px;
  }

  .market_goods {
    display: grid;
    grid-template-columns: auto auto;
    gap: 7%;
    margin: 80px;
  }

  .market_goods article {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
  }

  .market_goods h2 {
    color: var(--color-black);
    font-size: 28px;
    font-weight: var(--font-weight-bold);
    margin-bottom: 10px;
  }

  .market_goods h4 {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-grey-black);
    margin-bottom: 10px;
  }

  .market_goods h3 {
    color: var(--color-primary);
    font-size: 28px;
    font-weight: var(--font-weight-bold);
    margin-bottom: 10px;
  }

  .market_viewMore a {
    color: var(--orange-light);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }

  .market_goods p {
    font-size: 20px;
    font-weight: var(--font-weight-semibold);
  }

  .market_socials {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    margin-bottom: 60px;
  }

  .market_img {
    width: 250px;
    height: auto;
  }

  .market_main {
    margin-bottom: 300px;
    background: url('../images/image\ 5.svg') left -15% no-repeat, url('../images/image\ 4.svg') right -10% no-repeat;
  }

  /* END OF MARKET PAGE */
  /* START OF TICKnEARN */
  .ticknearn_main {
    background: url('../images/image\ 5.svg') left -8% no-repeat, url('../images/image\ 4.svg') right 23% no-repeat;
  }

  .ticknearn_header {
    display: flex;
    flex-direction: row;
    max-width: 1150px;
    margin: 50px auto;
  }

  .ticknearn_header img {
    width: 650px;
    height: auto;
    align-self: flex-end;
    margin-left: -100px;
  }

  .ticknearn_header_contents{
    width: 700px;
    margin-bottom: 120px;
  }

  .ticknearn_header h1 {
    font-size: 3em;
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
    margin-bottom: 20px;
  }

  .ticknearn_header_p {
    color: var(--color-grey-dark);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 100px;
  }

  .ticknearn_header_p span {
    color: var(--color-primary);
  }

  .ticknearn_number {
    color: var(--color-white);
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    display: flex;
    width: 50px;
    height: 50px;
    padding: 12px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--color-primary);
    border-radius: 50%;
  }

  .ticknearn_text {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
  }

  .ticknearn_text span {
    color: var(--color-primary);
  }

  .ticknearn_tasks {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .ticknearn_line {
    height: 15px;
    margin: 2px 0px 7px 30px;
    background-color: var(--color-primary);
    width: 5px;
  }

  .ticknearn_posts {
    margin: 50px 100px 0px;
  }

  .ticknearn_posts h2 {
    color: var(--color-black);
    font-size: 30px;
    font-weight: var(--font-weight-bold);
    margin: 50px 0px;
  }

  .ticknearn_posts section {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 100px;
  }

  .ticknearn_button {
    background-color: var(--color-primary);
    font-size: 20px;
    font-weight: var(--font-weight-semibold);
    border-radius: 16px;
    padding: 14px 22px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-white);
  }

  .ticknearn_button:hover {
    opacity: 0.8;
  }

  .ticknearn_posts h3 {
    color: var(--color-black);
    margin-top: 20px;
    font-weight: var(--font-weight-bold);
    font-size: 26px;
  }

  .ticknearn_posts div {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin-bottom: 50px;
  }

  .ticknearn_posts h4 {
    display: flex;
    flex-direction: row;
    gap: 11px;
    align-items: center;
  }

  .ticknearn_posts h5 {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-grey-dark);
  }

  .ticknearn_posts p {
    color: var(--color-grey-dark);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
    width: 600px;
  }

  .ticknearn_readMore {
    text-decoration: underline;
    font-size: 18px;
    color: var(--color-primary);
    font-weight: var(--font-weight-semibold);
  }

  /* END TICKNEARN PAGE */

  /* START TICKNEARN1 PAGE */
  .ticknearn_header-p {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-grey-dark);
    margin: 20px 0px 100px;
  }

  .ticknearn_header-p span {
    color: var(--color-primary);
  }

  .ticknearn_head {
    background-color: var(--color-grey-dark);
    padding: 12px 20px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    width: 170px;
    height: auto;
  }

  .ticknearn_head:hover {
    color: var(--color-primary);
  }

  .ticknearn1_header {
    max-width: 1050px;
    margin: 0px auto 50px;
  }

  .ticknearn1_img {
    width: 1050px;
    height: auto;
    margin-bottom: 50px;
  }

  .ticknearn_header_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .ticknearn_header_div h1 {
    color: var(--color-black);
    font-size: 26px;
    font-weight: var(--font-weight-bold);
    margin-top: 20px;
  }

  .ticknearn_header_div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .ticknearn_header_div h4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 22px;
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
  }

  .ticknearn_header_div h5 {
    color: var(--color-grey-dark);
    font-size: 18px;
    font-weight: 500;
  }

  .ticknearn1_paragragh {
    color: 20px;
    font-weight: 500;
    color: var(--color-grey-dark);
    margin-bottom: 50px;
    width: 800px;
  }

  .ticknearn1_header a{
    border-radius: 16px;
    background-color: var(--color-primary);
    padding: 12px 22px;
    color: var(--color-white);
    font-size: 20px;
  }

  .ticknearn1_header a:hover {
    opacity: 0.8;
  }

  .ticknearn1_mainContents {
    max-width: 1050px;
    margin: 80px auto 50px;
  }

  .ticknearn1_mainContents section {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
  }

  .ticknearn1_mainContents h2 {
    font-size: 30px;
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
  }

  .ticknearn1_mainContents article {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 50px;
  }

  .ticknearn1_previousPost_img {
    width: 150px;
    height: auto;
  }

  .ticknearn1_previousPost h3 {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
  }

  .ticknearn1_previousPost div {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    margin-top: 10px;
  }

  .ticknearn1_previousPost h4 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 17px;
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
    align-items: center;
  }

  .ticknearn1_previousPost h5 {
    font-size: 15px;
    font-weight: 500;
    color: var(--color-grey-dark);
  }

  /* END OF TICKNPOST1 */
  /* START OF COUPON */
  .coupon_main_bg {
    background: url('../images/image\ 3.svg') -5% 25% no-repeat;
  }

  .coupon_main {
    max-width: 1200px;
    margin: 0px auto;
  }

  .coupon_mainH1 {
    text-align: center;
    width: 600px;
    font-weight: var(--font-weight-bold);
    font-size: 30px;
    color: var(--color-black);
    margin: 0px auto;
  }

  .coupon_main section {
    margin: 100px 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }

  .coupon_main article {
    border-radius: 8px;
    border: 0.5px solid var(--color-primary);
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 380px;
    background-color: var(--color-white);
    align-items: center;
  }

  .coupon_main_div {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }

  .coupon_main_div h2 {
    color: var(--color-primary);
    font-size: 20px;
    font-weight: var(--font-weight-bold);
  }

  .coupon_main_div p {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-primary);
    margin-top: 5px;
  }

  .coupon_main_gif {
    width: 83px;
    height: auto;
  }

  /* END COUPON PAGE */
  /* START LEADERBOARD PAGE */

  .leaderboard_h1 span {
    color: var(--color-primary);
  }

  .leaderboard_h1 {
    margin-top: 100px;
  }

  .leaderboard_main_div {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }

  .leaderboard_main_div h2 {
    color: var(--color-black);
    font-size: 20px;
    font-weight: var(--font-weight-bold);
  }

  .leaderboard_main_div h3 {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-primary);
    margin-top: 5px;
  }

  .leaderboard_numbers {
    background-color: var(--color-primary);
    border-radius: 50%;
    color: var(--color-white);
    font-size: 36px;
    font-weight: var(--font-weight-bold);
    display: flex;
    width: 68px;
    height: 67px;
    padding: 4px 14px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* END OF LEADERBOARD PAGE */
  /* START OF SUPPORT PAGE */

  .support_main {
    background: url('../images/image\ 5.svg') top -190px left 3px no-repeat, url('../images/image\ 4.svg') bottom 650px right -30px no-repeat;
  }

  .supportForm_section {
    max-width: 800px;
    margin: 50px auto;
  }

  .supportForm_section form {
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .supportForm_section h1 {
    font-size: 40px;
    font-weight: var(--font-weight-bold);
    text-align: center;
    margin-bottom: 40px;
  }

  .supportForm_section label {
    font-size: 18px;
    font-weight: var(--font-weight-semibold);
  }

  .supportForm_section input::placeholder, .supportForm_section textarea::placeholder {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-grey-dark);
  }

  .supportForm_section input {
    padding: 16px 12px;
    border-radius: 8px;
    border: 1px solid var(--grey-light);
    margin-bottom: 30px;
  }

  .supportForm_section textarea {
    padding: 16px 12px;
    border-radius: 8px;
    border: 1px solid var(--grey-light);
    min-height: 147px;
    margin-bottom: 30px;
  }

  .supportForm_section button {
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 18px;
    font-weight: var(--font-weight-semibold);
  }

  .supportForm_section button:hover {
    opacity: 0.8;
  }

  .support_joinCommunity {
    background: url('../images/image\ 5.svg') top -210px left -20px no-repeat, url('../images/image\ 4.svg') bottom -250px right -30px no-repeat;
    padding-bottom: 150px;
  }

  .support_joinCommunity_section section {
    max-width: 1050px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }

  .support_joinCommunity_section div{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .support_joinCommunity_section h2 {
    color: var(--color-black);
    font-size: 36px;
    font-weight: var(--font-weight-bold);
  }

  .support_joinCommunity_section p {
    color: var(--color-grey-black);
    font-size: 24px;
    font-weight: 500;
  }

  .support_joinCommunity_section a {
    color: var(--color-white);
    font-size: 18px;
    font-weight: var(--font-weight-semibold);
    display: flex;
    align-items: center;
    padding: 16px 24px;
    background-color: var(--color-primary);
    border-radius: 16px;
    gap: 10px;
    width: 312px;
    justify-content: center;
  }

  .support_joinCommunity_section a:hover {
    opacity: 0.8;
  }

  .support_footer{
    margin-top: -50px;
  }

  /* END OF SUPPORT PAGE */
  /* START OF VERIFY COUPON PAGE */
  .Verify_section {
    max-width: 613px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
  }

  .Verify_section h1 {
    color: var(--color-black);
    text-align: center;
    font-size: 40px;
    font-weight: var(--font-weight-bold);
    margin-bottom: 20px;
  }

  .verify_p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: var(--color-grey-dark);
    margin-bottom: 50px;
  }

  .Verify_section button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 16px 24px;
    border-radius: 16px;
    background-color: var(--color-primary);
    gap: 10px;
    color: var(--color-white);
    font-size: 18px;
    font-weight: var(--font-weight-semibold);
    margin-top: 36px;
  }

  .Verify_section button:hover {
    opacity: 0.8;
  }

  .input-container {
    position: relative;
    display: inline-block;
  }

  .input-container input::placeholder {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-grey-dark);
  }
  
  .input-container input {
    padding: 12px;
    border: 1px solid var(--grey-light);
    border-radius: 8px;
    width: 100%;
  }
  
  .input-container img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1;
    padding: 10px;
  }

  #closeBtns {
    cursor: pointer;
    color: var(--color-black);
    align-self: flex-end;
  }
  
  .popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
  }

  .show {
    display: block;
  }

.popup-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}

.popup-content {
  background-color: var(--color-white);
  margin: 5% auto;
  padding: 40px;
  width: 553px;
  border-radius: 16px;
}

.popup-header h3 {
 text-align: center;
 margin-left: 50px;
 color: var(--color-black);
 font-size: 18px;
 font-weight: 500;
}

.popup-header span {
  color: var(--color-grey-dark);
}

.popup_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 20px;
}

.popup_div h4 {
  color: var(--color-grey-dark);
}

.popup_div h5 {
color: var(--color-black);
}

.popup_div h6 {
  color: var(--color-error);
  font-size: 18px;
}

@media only screen and (max-width: 1115px) {
  .indexnav_div {
    padding: 1px 30px;
    align-items: center;
  }

  .indexnav_contents {
    gap: 5px;
  }

  .nav-links {
    gap: 5px;
  }

  .abouthero-section img {
    width: 180px;
    height: auto;
  }

  .howToEarn section {
    max-width: 950px;
  }

  .howToEarn h2 {
    font-size: 32px;
  }

  .howToEarn_p {
    font-size: 18px;
  }

  .aboutcard_container {
    grid-template-columns: auto auto;
  }

  .about_card h6 {
    font-size: 18px;
  }

  .about_final_section section {
    max-width: 950px;
  }

  .about_final_section h3 {
    font-size: 32px;
  }

  .about_final_section p {
    font-size: 18px;
  }

  .aboutdiv_card {
    grid-template-columns: auto auto;
    gap: 5%;

  }

  .market_main {
    margin-bottom: 400px;
  }

  .market_goods {
    margin: 80px 30px 0px;
  }

  .market_goods article {
    flex-direction: column;
  }

  .market_goods h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .market_goods h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .market_goods h3 {
    font-size: 22px;
  }

  .market_viewMore a {
    font-size: 14px;
  }

  .market_goods p {
    font-size: 16px;
  }

  .market_socials {
    margin-bottom: -62px;
  }

  .market_img {
    width: 150px;
  }
}

@media only screen and (max-width: 1000px) {
  .abouthero-section {
    max-width: 600px;
    margin-left: auto;
  }

  .abouthero-section h1 {
    text-align: center;
    font-size: 32px;
  }

  .howToEarn section {
    max-width: 600px;
  }

  .howToEarn h2 {
    font-size: 24px;
  }

  .howToEarn_p {
    font-size: 16px;
  }

  .aboutcard_container {
    grid-template-columns: auto auto;
  }

  .about_card h6 {
    font-size: 18px;
  }

  .about_final_section section {
    max-width: 600px;
  }

  .about_final_section h3 {
    font-size: 24px;
  }

  .about_final_section p {
    font-size: 16px;
  }

  .aboutdiv_card {
    grid-template-columns: auto;

  }
}

  
@media only screen and (max-width: 750px) {
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

   .nav-links {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 20px;
    flex-direction: column;
    background-color: var(--color-white);
    width: 100%;
    padding-top: 2%;
    padding-left: 40%;
    padding-right: 20%;
    padding-bottom: 1%;
    align-items: flex-start;
    transition: 0.3s;
    z-index: 2;
  }

  .nav-links.active {
    left: 0;
  }

  .indexnav_contents {
    gap: 20px;
  }

  .hero-section {
    max-height: 1298px;
    background: url("../images/image\ 4.svg") right 5% no-repeat, url("../images/image\ 5.svg") 0% -100% no-repeat;
  }

  .hero-section_section {
    max-width: 500px;
  }

  .hero-section_section h1 {
    font-size: 1.9em;
    
  }

  .hero-section_section p {
    font-size: 14px;
  }

  .hero-section_section a {
    padding: 10px 18px;
    border-radius: 10px;
    max-width: 188px;
    margin-top: 4%;
  }

  .hero-section_img {
    margin-top: 40px;
  }

  .why_winforce{
    gap: 40px;
    padding-bottom: 100px;
  }

  .why_winforce_header h2 {
    font-size: var(--font-size-large);
  }

  .why_winforce_header p {
    font-size: var(--font-size-medium);
  }

  .why_winforce_contents {
    flex-direction: column;
    gap: 20px;
    margin: 0px 5%;
  }

  .why {
    width: 80%;
    align-self: center;
  }

  .why_winforce_flexContainer {
    padding-top: 30px;
    gap: 20px;
  }

  .why_winforce_flexContainer article {
    padding: 20px;
  }

  .why_winforce_flexContainer h6 {
    font-size: 18px;
  }

  .why_winforce_flexContainer p {
    font-size: var(--font-size-small);
  }

  .getStarted {
    background: var(--color-white);
  }

  .getStarted_header p {
    max-width: 90%;
  }

  .why_img img {
    width: 80%;
    height: auto;
    margin-left: 10%;
  }

  .read_reviews {
    background: var(--color-white);
  }

  .read_reviewsDiv {
    max-width: 540px;
  }

  .ellipse-background {
    height: 150px;
  }

.carousel {
  width: 550px;
}

  .card {
    gap: 30px;
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 30px;
  }

  .card h5 {
    font-size: var(--font-size-medium);
  }

  .card p {
    font-size: var(--font-size-small);
    margin: 5px 0px 1px;
  }

  .card img {
    width: 50%;
    height: auto;
  }
  
  .carousel-bullets .bullet, .slick-dots {
    width: 10px;
    height: 10px;
  }

  .Start_journey {
    background: url('../images/Ellipse\ 2841 (1).svg') left -10% no-repeat;
  }

  .Start_journey section {
    flex-direction: column;
    max-width: 600px;
  }

  .Start_journey_content {
    text-align: center;
  }

  .Start_journey h5 {
    font-size: 24px;
  }

  .Start_journey p {
    font-size: 16px;
  }

  .Start_journey_media {
    max-width: 400px;
  }

  .footer_copyright {
    padding: 14px;
    font-size: 16px;
  }

  .footer {
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer section {
    flex-direction: column;
  }

  .footer_nav {
    max-width: 200px;
  }

  .footer h6 {
    padding-bottom: 5px;
    padding-top: 20px;
  }

  .footer_download {
    flex-direction: column;
  }

  .footerdownload_btn {
    padding: 9px 8px;
    max-width: 200px;
  }

  .footerdownload_btn p {
    font-size: 14px;
  }

  .footerdownload_btn span {
    font-size: 18px;
  }

  .dropdown-content {
    min-width:1500px;
    padding: 10px;
  }
  
  .dropdown-content a {
    padding: 4px;
    font-size: 14px;
  }

  .abouthero-section {
    flex-direction: column;
  }

  .abouthero-section div {
    width: 400px;
    padding: 0px 50px 0px 0px;
  }

  .abouthero-section img {
    width: 120px;
    margin-top: -30px;
  }

  .market_header {
    max-width: 310px;
  }

  .market_header h1 {
    font-size: 24px; 
  }

  .marketHeader_search button {
    padding: 8px 12px;
  }
  
  .search-input {
    padding: 8px 22px;
    width: 250px;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 3px;
    width: 20px;
    height: 20px;
  }

  .MarketSearch_suggestions {
    gap: 20px;
    margin-top: 20px;
    font-size: 12px;
  }

  .market_goods {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .market_goods article {
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

  .market_socials {
    margin-bottom: 0px;
  }

  .market_main {
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 577px) {
  .indexnav_div {
    padding: 1px 10px;
  }

  .indexnav_contents {
    gap: 10px;
  }

  .indexnav_btns {
    gap: 5px;
    font-size: 14px;
  }

  .index_logo img {
    width: 100px;
    height: auto;
  }

  .indexnav_btn1 img {
    width: 20px;
    height: auto;
  }

  .indexnav_btn2 {
    width: 30px;
    height: 30px;
  }

  .indexnav_btn2 img{
    width: 18px;
    height: 18px;
  }

  .hero-section {
    max-height: 1298px;
    background: url("../images/image\ 4.svg") right 5% no-repeat, url("../images/image\ 5.svg") -10% -100% no-repeat;
  }

  .hero-section_section {
    max-width: 300px;
  }

  .hero-section_section h1 {
    font-size: 18px;
    
  }

  .why_winforce_header h2 {
    font-size: 18px;
  }

  .why_winforce_header p {
    font-size: 14px;
  }

  .why_winforce_flexContainer article {
    flex-direction: column;
  }

  .why_winforce_flexContainer article img {
    align-self: center;
  }

  .why_winforce_flexContainer h6 {
    text-align: center;
  }

  .read_reviewsDiv {
    max-width: 320px;
    margin: 50px auto;
  }

  .read_reviews button {
    border-radius: 8px;
    font-size: 24px;
    margin-top: 30px;
    max-width: 180px;
  }

  .why_winforce_header {
    padding: 10px;
  }

  .why_winforce_header h2 {
    font-size: 16px;
  }

  .why_winforce_header p {
    font-size: 14px;
  }

.carousel {
  width: 300px;
}

.ellipse-background1 {
  margin-top: 0px;
}

  .card {
    padding-bottom: 45px;
    flex-direction: column;
    padding-right: 10px;
  }

  .Start_journey section {
    max-width: 300px;
    margin: 20px auto;
  }

  .Start_journey h5 {
    font-size: 18px;
  }

  .Start_journey p {
    font-size: 14px;
  }

  .Start_journey_media {
    max-width: 300px;
  }

  .Start_journey_media img {
    max-width: 140px;
  }

  .abouthero-section div {
    width: 310px;
    padding: 0px 0px 0px 10px;
  }

  .aboutcard_container {
    grid-template-columns: auto;
  }

  .abouthero-section {
    max-width: 300px;
  }

  .abouthero-section h1 {
    font-size: 28px;
  }

  .howToEarn section {
    max-width: 300px;
  }

  .howToEarn h2 {
    font-size: 20px;
  }

  .howToEarn_p {
    font-size: 14px;
  }

  .about_card h6 {
    font-size: 18px;
  }

  .about_card p {
    font-size: 14px;
  }

  .about_final_section section {
    max-width: 300px;
  }

  .about_final_section h3 {
    font-size: 20px;
  }

  .about_final_section p {
    font-size: 14px;
  }

  .market_goods article {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  .market_header {
    max-width: 280px;
  }

  .search-input {
    width: 200px;
  }
}